<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="sulu_news.event_subscriber.load"
                 class="TheCadien\Bundle\SuluNewsBundle\EventSubscriber\NewsLoadEventListener">
            <argument type="service" id="service_container"/>
            <tag name="doctrine.event_listener" event="postLoad"/>
        </service>
    </services>
</container>